<app-header></app-header>

<div class="container p-4">

  <!--BeadCrumbs-->
  <app-breadcrumbs></app-breadcrumbs>
  <!--Router System-->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-bottom">
    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 SAFRAN:
        <a class="text-dark" href="https://www.safran-group.com/group-0?gclid=Cj0KCQjwktKFBhCkARIsAJeDT0hQxGTZuttftPUwypvjf1UhjGHFUh8Mzt2OhGv-nAD1BepykowgyIMaAniOEALw_wcB">safran-goup.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>

</div>