<div class="card-body">
    <div class="container-sm p-5" style="width: 400px;">

        <body class="text-center">
            <form class="form-signin">
                <img class="mb-4" src="../../../assets//img/safran.png" alt=""
                    width="250" height="50">
                <h1 class="h3 mb-3 font-weight-normal">Sorry, Page not Found</h1>

                <div class="row p-1">
                   <h1>404</h1>
                </div>

                <div class="row p-3">
                    <h4>The URL is not valid.</h4>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Back to Home</button>
                <p class="mt-5 mb-3 text-muted">© 2021-2022</p>
            </form>
        </body>
    </div>
</div>